<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container d-flex justify-content-center text-center">
                    <h1 >Eat-Da-Burger!</h1>
                </div>
            </div>
        </div>    
    </div>

    <!-- Cards for list of burgers and burgers devoured-->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" id="burgersTitle">Burgers</h5>
                    <ul class="card-text">
                        {{#each burgers}}
                            {{#unless this.devoured}}
                                    <h5>{{this.id}}. {{this.burger_name}}
                                        <form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
                                            <input type='hidden' name='devoured' value='true'><button type='submit' class="btn btn-default">Devour it!</button>
                                        </form>
                                    </h5>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Burgers Devoured</h5>
                        {{#each burgers}}
                            {{#if this.devoured}}
                                <h5 class="text-muted">{{this.id}}. {{this.burger_name}}</h5>
                            {{/if}}
                        {{/each}}
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <!-- Add a burger -->
    <div class="row">
		<div class="col-md-12 text-center">
			<form class="create-update-form" action="burgers/insertOne" method="POST">
				<div class="form-group">
                    <p class="text-center">Add a burger you'd devour!</p>
					<textarea type="text" name="name"></textarea>
                    <button class="btn btn-default" type="submit">Add Burger</button>
				</div>
			</form>
		</div>
	</div>

</div>